
NODE_ENV="development"

PORT = 8080

#-> comment
DB_URI = "mongodb://localhost:27017/team_14_db"

#! cloudinary
CLOUDIANRY_CLOUD_NAME=""
CLOUDIANRY_API_KEY=""
CLOUDINARY_API_SECRET=""

#!JWT
JWT_SECRET=""
JWT_EXPIRES_IN=""
#! cookies

#! email/ node mailer
SMTP_HOST="smtp.gmail.com"
SMTP_SERVICE="gmail"
SMTP_PORT="587
SMTP_USER="Your-email@gmail.com"
SMTP_PASS="Your-app_password"