
NODE_ENV="development"

PORT = 8080

#-> comment
DB_URI = "mongodb://localhost:27017/team_14_db"

#! cloudinary
CLOUDIANRY_CLOUD_NAME=""
CLOUDIANRY_API_KEY=""
CLOUDINARY_API_SECRET=""

#!JWT

#! cookies

#! email/ node mailer